{% extends 'base.html' %}

{% block title2 %}
{{ product.name }}
{% endblock %}

{% block content %}
    {% if product.pic %}
    <div class="">
        <img width = "200px" src="{{ product.pic.url }}" alt=""> <!-- referring to the absolute url of the image -->
    </div>
    {% endif %}
    <h1>{{ product.id }}</h1>,
    <h4>Name : {{ product.name }}</h4>
    <p>{{ product.price }} rupees </p>

    <a class = "btn btn-secondary" href="{% url 'edit_product' product.pk %}">Edit Product</a>
    <a class="btn btn-danger" href="{% url 'del_product' product.pk %}">Delete Product</a>
    <br><br>
    <a class = "btn btn-outline-success" href="{% url 'myapp' %}">Home</a>
{% endblock %}
</body>
</html>