{% extends 'base.html' %}
{% block title2 %}
    Main page
{% endblock %}


{% block content %}
    <!-- Listing out all the products in the database -->
<!-- <img src="static '/products/Spectrasonics_Omnisphere_2.png'"> -->
<!-- <table border="1px solid">
    {% for p in product_list %}
        <tr>
            <td>
                <a href ="{% url 'prod_details_view' p.pk %}">
                    <img src="{{ p.pic }}"  width="200" height="150">
                    {{ p.name }} 
                </a>
            </td>
        </tr>
    {% endfor %}
</table> -->


<div class="container-fluid">
    {% for p in product_list %}
    <br>
    <a href ="{% url 'prod_details_view' p.pk %}">
        <div class="row hover">
            
            <div class="col-xs-6 col-md-4">
                <img  src="{{ p.pic }}"  width="200" height="150"> 
            </div>
            <div class="col-xs-12 col-md-8">
                {{p.name}}
                <br>
                {{p.price}} rupees
            </div>
        </div>
    </a>
    
    {% endfor %}
    

</div>
{% endblock %}